#content 
{
	position:absolute;
	width:80%;
	left:10%;
	right:10%;
	text-align:left;
}

#navbar 
{   
    position: fixed;
    top: 0%;
    right:0;
    width: 100px;
    
    line-height:30px;
    height:100%;
    
    
    padding:5px;
    
}

#banner 
{       
	position:absolute;
	width:100%;
	height:200px;
	text-align:center;
	padding-top:10px;
	padding-bottom:0px;
	margin-top:0px;
	margin-bottom:0px;
	
        
}

#desc 
{
	position:absolute;
	padding-left:5%;
	padding-right:0%;
	padding-top:0px;
	width:80%;
	margin-top:0px;
	top:218px;
        left:0px;
}

video.video{
    width: 70%;
    
}

img.head{
    width:50%;
    
}
li.list{
    left: 40px;
}

img.photo_floating_right
{
	float:right;
	padding-left:20px;
}

img.photo_floating_left
{
	float:left;
	padding-right:20px;
}

p{
  text-align: center;      
}
a.footer
{
	font-size:18pt;
	text-align:center;
	padding-top:00px;
}

p.paragraph{
    font-size:18pt;
    text-align:center;
}


img {
    width:100%;margin-right:10%;
	border:0;
}

img.stonybrook {
	background-color:white;
	padding-left:10px;
	float:left;
}

img.cs {
	float:right;
	padding-right:10px;
}

img.start_up
{
	float:right;
	margin-left:20px;
	margin-right:20px;
	margin-bottom:5px;
}

img.centered {
	margin-left:30%;
	margin-right:30%;
}

video {
	
}


a.nav, a.open_nav {
	display:inline-block;
	border:none;
	text-decoration:none;
	text-align:center;
	font-weight:bold;
	padding-left:5px;
	padding-right:20px;
	padding-top:5px;
	width:80px;
}

